.suggestedList {
  background-color: #314dc9;
  width: 273px;
  margin: 0 auto;
  border: 1px solid #2d2e30;
}
.suggestedList:hover {
  background-color: #2950ff;
  cursor: pointer;
}
h4 {
  color: #fff;
}
